/* Basic Reset */

/* por padrão o css usa: box-sizing: content-box;
   Isso significa que:
    width e height só contam o conteúdo
    padding e border são somados depois
    o que faz o elemento "estourar" o layout sem voce perceber
    Com border-box:
    width e height incluem:
    conteúdo + padding + border
    Ou seja, o tamanho nunca ultrapassa o valor definido.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background-color: rgb(225, 236, 246);
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.30);
    width: 600px;
    overflow: relative;
}

/* Screens */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
}

/* start screen */

#start-screen h1{
    color: #ff8133;
    margin-bottom: 30px;
    font-size: 3rem;
    border-radius: 10px;
    padding: 10px;
    text-shadow: #ff8c2e 2px 2px 4px;
}

#start-screen p{
    color: #55505C;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.quiz-header{
    margin-bottom: 2rem;
}

#question-text{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #55505C;
    margin-bottom: 10px;
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background-color: #3baffc;
    border-color: #59626D;
}

.answer-btn.correct{
    background-color: #4ef8a6;
    border-color: #59626D;
    color: black;
}

.answer-btn.incorrect{
    background-color: #f92424;
    border-color: #59626D;
    color: black
}

.progress-bar{
    height: 10px;
    background-color: #ECA367;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress{
    height: 100%;
    background-color: #FFC022;
    width: 0%;
    transition: width 0.3s ease;
}

/* result screen */

#result-screen h1{
    color: black;
    margin-bottom: 30px;
}

.result-info{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2 rem;
    font-weight: 600;
    color: black;
}

button{
    background-color: #ff8133;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ea6a00  ;
}


/* Media Queries - Responsive design */

@media (max-width: 500px) {
    .screen{
        padding: 1rem;
    }
    #start-screen h1{
        font-size: 2rem;
    }
    #question-text{
        font-size: 1.2rem;
    }
    .answer-btn{
        padding: 12px;
    }
    button{
        padding: 12px 25px;
        font-size: 1rem;
    }
}